header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0;
  background-color: #bce1ff;
}

form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 350px;
}

input {
  padding: 10px;
  font-size: 18px;
  margin-right: 10px;
  border-radius: 4px;
  max-width: 100%;
  flex-grow: 1;
  border: 1px solid #ccc;
}

button {
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 4px;
  border: 1px solid white;
  background-color: #2196f3;
  color: white;
  cursor: pointer;
}
